<?xml version='1.0' encoding='utf-8'?>
<widget id="ar.importaciones" version="1.0.18" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>AR Import</name>
    <description>Tus Importaciones Seguras.</description>
    <author email="contacto@mindtec.com.mx" href="http://mindtec.com.mx/">Mindtec Software Revolution</author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="phonegap-version" value="cli-8.0.0" />
    <feature name="http://api.phonegap.com/1.0/network" />
    <access onlyInBrowser="true" origin="*" />
    <platform name="ios">
       <!-- <gap:plugin name="cordova-plugin-email-composer" version="0.8.2" source="npm" />-->
        <plugin name="cordova-plugin-media-capture" source="npm" />
        <plugin name="cordova-plugin-device-orientation" source="npm" />
        <plugin name="cordova-plugin-inappbrowser" source="npm" />
        <plugin name="cordova-plugin-whitelist" source="npm" />
        <plugin name="cordova-plugin-file-transfer" source="npm" />
        <plugin name="cordova-plugin-camera" source="npm">
            <variable name="CAMERA_USAGE_DESCRIPTION" value="Se requiere el permiso de la camara para tomar fotografias de los productos a importar." />
            <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="Se utilizara la libreria multimedia para seleccionar las fotografias de los productos a importar." />
        </plugin>
        <gap:config-file overwrite="true" parent="NSCameraUsageDescription" platform="ios">
            <string>Se requiere el permiso de la camara para tomar fotografias de los productos a importar.</string>
        </gap:config-file>
        <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
            <string>Se requiere el permiso de la camara para tomar fotografias de los productos a importar.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
            <string>Se utilizara la libreria multimedia para seleccionar las fotografias de los productos a importar.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryAddUsageDescription">
            <string>e utilizara la libreria multimedia para seleccionar las fotografias de los productos a importar.</string>
        </edit-config>
        <icon src="www/res/icon/ios/icon.png" />
        <icon height="40" src="www/res/icon/ios/icon-40.png" width="40" />
        <icon height="50" src="www/res/icon/ios/icon-50.png" width="50" />
        <icon height="57" src="www/res/icon/ios/icon-57.png" width="57" />
        <icon height="60" src="www/res/icon/ios/icon-60.png" width="60" />
        <icon height="72" src="www/res/icon/ios/icon-72.png" width="72" />
        <icon height="76" src="www/res/icon/ios/icon-76.png" width="76" />
        <icon height="512" src="www/res/icon/ios/icon-512.png" width="512" />
        <icon height="80" src="www/res/icon/ios/icon-40-2x.png" width="80" />
        <icon height="100" src="www/res/icon/ios/icon-50-2x.png" width="100" />
        <icon height="114" src="www/res/icon/ios/icon-57-2x.png" width="114" />
        <icon height="120" src="www/res/icon/ios/icon-60-2x.png" width="120" />
        <icon height="144" src="www/res/icon/ios/icon-72-2x.png" width="144" />
        <icon height="152" src="www/res/icon/ios/icon-76-2x.png" width="152" />
        <icon height="1024" src="www/res/icon/ios/icon-512-2x.png" width="1024" />
    </platform>
	
    <allow-navigation href="*"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
	<access origin="whatsapp:*" launch-external="yes" />
	
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>	
</widget>
